openmeteo-requests
numpy>=1.24.0
pandas>=2.0.0
matplotlib
scikit-learn>=1.3.0
apache-airflow>=2.7.0
python-dateutil
apache-airflow-providers-amazon>=8.0.0
requests-cache
retry-requests
s3fs
boto3>=1.28.0
joblib
pyarrow
python-dotenv>=1.0.0
requests>=2.31.0
psycopg2-binary>=2.9.9
apache-airflow-providers-postgres>=5.7.1

